EOS-greeter.conf
EOS-initial-wallpaper.I3
Thunar
awesome
dconf
discord
eos-update-notifier.first_init
galculator
htop
pavucontrol.ini
pulse
reflector-simple-free-params.txt
systemd
user-dirs.dirs
user-dirs.locale
xfce4
VIA
cef_user_data

cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlists
cmus/search-history

!Code\ -\ OSS/
Code\ -\ OSS/*
!Code\ -\ OSS/User/
Code\ -\ OSS/User/*
!Code\ -\ OSS/User/settings.json
